<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" (click)="goToShop()">Products</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Cart <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<div class="card mb-4" style="max-width: 540px;" *ngFor="let addedProduct of addedProducts">
  <div class="row no-gutters">
    <div class="col">
      <img src={{addedProduct.image}} class="card-img" alt="..." height="300px">
    </div>
    <div class="col">
      <div class="card-body">
        <h4 class="card-title">{{addedProduct.name}}</h4>
      </div>
      <div class='container'>
          <div class="row">
              <div class="col">
                    <p class="card-text"> Cantidad </p>
                    <p class="card-text"> Precio/u </p>
                    <p class="card-text"> Precio total </p>
                    <p class="card-text"> Oferta </p>
                    <p class="card-text"> Precio final </p>
              </div>
              <div class="col">
                    <p class="card-text"> {{addedProduct.countered}}</p>
                    <p class="card-text"> {{addedProduct.price}}</p>
                    <p class="card-text"> {{addedProduct.price*addedProduct.countered}} </p>
                    <p class="card-text"> Oferta </p>
                    <p class="card-text"> {{addedProduct.offer}} </p>
              </div>
          </div>
    </div>
    
  </div>
</div>